@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-image: linear-gradient(to right, rgb(247, 76, 76) , rgb(245, 67, 126));
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  font: Roboto, "Helvetica Neue", sans-serif;
  color: #fff;
}

.profile {
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 16px;
  padding-bottom: 35px;
  background-image: linear-gradient(to right, #3f51b5 , rgb(94, 68, 238), #3f51b5);
  letter-spacing: 0.1em;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}

.profile .left {
  position: absolute;
  left: 10%;
}

.profile .right {
  position: absolute;
  right: 10%;
}

.profile1 {
  padding: 20px;
}

.profile1 .right {
  position: absolute;
  right: 7%;
  letter-spacing: 0.1em;
}

.lefte {
  height: 75%;
  width: 40%;
  position: absolute;
  top: 15%;
  text-align: center;
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 11%;
    margin-bottom: 11%;
  }

  .left {
    position: absolute;
    bottom: 10%;
    right: 35%;
  }
}

.file #upload {
  position: absolute;
  top: 97%;
  right: -5%;
  width: 100%;
}

.file #upload1 {
  position: absolute;
  top: 97%;
  right: -5%;
  width: 22%;
  color: black;
}
