<body>
<div [hidden]="submitted" style="width:400px">
    <div>  
      <form action="#" [formGroup]="registrationform" autocomplete="on" #saveuser="ngForm" (ngSubmit)="saveUser()">
          
        <h1>Create Account</h1>

        <!-- Firstname -->

        <div class="fname register">
            
            <input type="text" class="form-control" id="fname" placeholder="First Name" required  formControlName="firstName" 
                data-toggle="tooltip" title="Enter First Name">

            <div *ngIf="(isShown1) && (FirstName.invalid) ">
                <span id="icons">&#10071;</span>
            </div>
            
            <small  *ngIf="(FirstName.touched) && (FirstName.invalid)">
                {{toggleShow1()}}
                <span *ngIf="FirstName.errors.required">FirstName is required</span>
                <span *ngIf="FirstName.errors.minlength">minimum length error</span>
            </small>
        </div>        
        
        <!-- Lastname -->
        
        <div class="lname register">
          
            <input type="text" class="form-control" placeholder="Last Name" required  formControlName="lastName" 
                data-toggle="tooltip" title="Enter Last Name" id="lname">
                
                <div *ngIf="(isShown2) && (LastName.invalid)">
                    <span id="icons">&#10071;</span>
                </div>

            <small *ngIf="(LastName.touched) && (LastName.invalid)">
                {{toggleShow2()}}
                <span *ngIf="LastName.errors.required">LastName is required</span>
                <span *ngIf="LastName.errors.minlength">minimum length error</span>
            </small>
        </div>

        <!-- Username -->

        <div class="uname register">
          
            <input type="text" class="form-control" placeholder="Username" required  formControlName="username" 
                data-toggle="tooltip" title="Enter Username">
                
                <div *ngIf="(isShown3) && (Username.invalid)">
                    <span id="icons">&#10071;</span>
                </div>

            <small *ngIf="(Username.touched) && (Username.invalid)">
                {{toggleShow3()}}
                <span *ngIf="Username.errors.required">Username is required</span>
                <span *ngIf="Username.errors.minlength">minimum length error</span>
            </small>
        </div>
        
        <!-- Password -->

        <div class="password register">
        
            <input type="password" class="form-control" placeholder="Password" required  formControlName="password" 
                data-toggle="tooltip" title="Enter Password" name="password">
                
                <div *ngIf="(isShown4) && (Password.invalid)">
                    <span id="icons">&#10071;</span>
                </div>

            <small *ngIf="(Password.touched) && (Password.invalid)">
                {{toggleShow4()}}
                <span *ngIf="Password.errors.required">Password is required</span>
                <span *ngIf="Password.errors.pattern">must has 8 chars, 1 uppercase, special char, number</span>
            </small>
        </div>

        <!-- Confirm Password -->

        <div class="cpassword register">

            <input type="password" class="form-control" placeholder="Confirm Password" required  formControlName="confirmPassword" name="confirmPassword" 
            data-toggle="tooltip" title="Enter First Name" appConfirmEqualValidator="password">

            <div *ngIf="(isShown5) && (ConfirmPassword.invalid)">
                <span id="icons">&#10071;</span>
            </div>

            <small  *ngIf="(ConfirmPassword.touched) && (ConfirmPassword.invalid)">
                {{toggleShow5()}}
                <span *ngIf="ConfirmPassword.errors.required">ConfirmPassword is required</span>
                <span *ngIf="ConfirmPassword.errors.notEqual">Password Doesn't match</span>
            </small>
        </div>
        
        <!-- Email -->

        <div class="email register">

            <input type="text" class="form-control" placeholder="Email" required  formControlName="email" 
                data-toggle="tooltip" title="Enter Email">

                <div *ngIf="(isShown6) && (Email.invalid)">
                    <span id="icons">&#10071;</span>
                </div>

            <small *ngIf="(Email.touched) && (Email.invalid)">
                {{toggleShow6()}}
                <span *ngIf="Email.errors.required">Email is required</span>
                <span *ngIf="Email.errors.minlength">minimum length error</span>
            </small>
        </div>
        
        <!-- Role -->

        <div class="role register" style="padding-bottom: 0px;">

            <select class="form-control" formControlName="role" required data-toggle="tooltip" 
                title="select Role">
                    <option [selected]="true" value="undefined" >--Select Role--</option>  
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
            </select>

            <div *ngIf="(isShown7) && (Role.invalid)">
                <span id="icons">&#10071;</span>
            </div>

            <small  *ngIf="(Role.touched) && (Role.invalid)" style="top: 47px; color: #ff4b2b;">
                {{toggleShow7()}}
                <span *ngIf="Role.errors.required">Role is required</span>
                <span *ngIf="Role.errors.maxlength">select an option</span>
            </small>
        </div>
        <br/>

        <!-- Button -->

        <button type="submit"  [attr.disabled]="!saveuser.form.valid ? true : null" (click)="addSuccess()">Sign Up</button>

      </form>
  </div>  
  </div>

<div class="ro">
  <div class="rodown" id="slice">
      <div [hidden]="!submitted">
          <h3>User Added Successfully !</h3>
          <button (click)="addUserForm()" class="'btn btn-primary" style="margin-top: 32%;">Add more User</button>
      </div>
  </div>
</div>
</body>