<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>fitness_center</mat-icon></button> Wellness and Fitness Blogs</span>

    <div class="spacer"></div>

    <div *ngIf="currentUser">
        <a mat-button [routerLink]="['profile-page', {'paramKey': currentUser.userId}]">Profile</a>
        <a mat-button>Blogs</a>
        <a mat-button [routerLink]="['create-view-blog', {'paramKey': currentUser.userId}]">create a blog</a>
        <a mat-button>About Us</a>
        <a mat-raised-button color="accent" (click)="logout()">Logout</a>
    </div>
        
</mat-toolbar>