<div id=background>
  
  <img src="../../assets/pic2.jpg" class="img1">
  
  <div class="title common">
    <label><span style="font-size: 80px;">Wellness</span> and <br/><br/><br/><span style="font-size: 80px;">Fitness Blogs</span></label>
  </div>
  
  <div class="push-text common">
    <label>Click here to be a part of us</label>
  </div>
  
  <div class="push common">
    <button (click)="openUp()">SignUp / Login</button>  
  </div>
  
  <div class="title title1" style="visibility: hidden;">
    <label><span style="font-size: 75px;">Wellness</span><br/><br/>&nbsp;&nbsp;&nbsp; and <br/><br/><br/><span style="font-size: 75px;">Fitness <br/><br/>blogs</span></label>
  </div>


<body>
    <div class="container" id="container">
      <div class="form-container register-container">
        <app1-register-user></app1-register-user>
      </div>
      
      <div class="form-container login-container">
        <app1-login-user></app1-login-user>
      </div>
    
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Hello !</h1>
            <p>Please login with your personal info</p>
            <button class="ghost" id="signIn" (click)='switchPanel()' routerLink="login-user">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Register yourself to be a part of us</p>
            <button class="ghost" id="signUp" (click)='switchPanel()' routerLink="add-user">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
  <!-- <app1-user-list></app1-user-list> -->
  