
<div id="loginPage" class="signin-container" style="width:400px">
    <div>
        <form [formGroup]="loginform" action="#" #validateuser="ngForm" (ngSubmit)="validateUser()">
            <h1>Sign In</h1><br/>
            
            <!-- username -->
            <div class="uname login">
                <input type="text" class="form-control" name="username" required placeholder="Username" formControlName="username">
                
                <div *ngIf="(isShown1) && (Username.invalid)">
                    <span id="icons">&#10071;</span>
                </div>
                
                <small  *ngIf="(Username.touched) && (Username.invalid)">
                    {{toggleShow1()}}
                    <span *ngIf="Username.errors.required">Username is required</span>
                </small>
            </div>
            
            <!-- password -->
            <div class="pasword login">
                <input type="password" class="form-control" name="password" required placeholder="Password" formControlName="password">
                
                <div *ngIf="(isShown2) && (Password.invalid)">
                    <span id="icons">&#10071;</span>
                </div>
                
                <small  *ngIf="(Password.touched) && (Password.invalid)">
                    {{toggleShow2()}}
                    <span *ngIf="Password.errors.required">Password is required</span>
                </small>
            </div>

            <br/>
            <button type="submit" [attr.disabled]="!validateuser.form.valid ? true : null">Sign In</button>
        </form>
    </div>    
</div>    

<div class="lo">
    <div class="lodown" id="slice">
        <div *ngIf="currentUser">
            <h3>Hello <br/><span style="font-size: 27px;">{{currentUser.firstName}} !</span></h3><br/><br/><br/>
            <h4 style="font-size: 20px;">You Just Logged In !</h4>
            
        <!-- <app1-user-list></app1-user-list> -->
            <button (click)="btnClick()" >Explore</button>
        </div>
    </div>
  </div>
