<div class="grid-container">
  <h1 class="mat-h1" style="text-align: center;">Blog Community</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" *ngIf="card.title=='Create a Blog'">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <h2><span><input type="text" placeholder="Title" style="width: 30%; text-align: center;"></span></h2>
            <h3><span><textarea maxlength="500" rows="5" placeholder="Share your Thoughts and Ideas" style="width: 65%;"></textarea></span></h3>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="dashboard-card2" *ngIf="card.title=='Card 2'">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            
          </div>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
